@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    901 - TL786<br />
    Tien Thuan, Ben Cau, Tay Ninh<br />
    <abbr title="Phone">Phone:</abbr>
    0389.789.373
</address>

<address>
    <strong>Support:</strong> <a href="mailto:21520128@gm.uit.edu.vn">21520128@gm.uit.edu.vn</a><br />
    <strong>Marketing:</strong> <a href="mailto:21520128@gm.uit.edu.vn">21520128@gm.uit.edu.vn/a>
</address>
