@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top: 20px;">
    <img src="~/images/duber_logo.png" alt="ASP.NET" class="img-responsive" />
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <p>
            Nam mô đại từ đại bi quảng đại linh cảm Quan Thế Âm Bồ Tát. (3 lần)

            Nam mô cứu khổ cứu nạn Quan Thế Âm Bồ Tát. (3 lần)

            Bá thiên vạn ức Phật, hằng hà sa số Phật, vô lượng công đức Phật. Phật cáo A Nan ngôn, thử kinh đại thánh năng cứu ngục tù, năng cứu trọng bịnh, năng cứu tam tai bá nạn khổ. Nhược hữu nhơn tụng đắc nhứt, thiên biến nhứt thân ly khổ nạn, tụng đắc nhứt vạn biến hiệp gia ly khổ nạn. Nam mô Phật lực oai. Nam mô Phật lực hộ, xử nhơn vô ác tâm, lịnh nhơn thân đắc độ, hồi quang Bồ Tát, hồi thiện Bồ Tát a nậu đại thiên vương chánh điện Bồ Tát, Ma kheo, Ma kheo thanh tịnh tùy kheo, quan sự đắc tán tụng, sự đắc ưu Chư vị Bồ Tát. Ngũ bá a la hán cứu độ đệ tử (họ tên, tuổi) nhứt thân ly khổ nạn tự ngôn Quan Thế Âm anh lạc bất tu giải cần đọc bá thiên vạn biến tai nạn tự nhiên đắc giải thoát, tín thọ phụng hành. Tức thuyết chơn ngôn viết: kim bà kim bà đế, cầu ha cầu ha đế, đà ra ni đế, ni ha la đế, tỳ lê nể đế, ma ha dà đế, chơn lăng càng đế, ta bà ha.
        </p>
        <p>
            huhu
            huhu
            huhu
        </p>
    </div>
</div>
